# Script to Output Up-to-Date MASTER_Step2_HabitatAnalysis PROTECTION to individual tabs
## Author: Ryan Niemeyer, Upper Columbia Salmon Recovery Board
### For more information, see https://www.ucsrb.org/prioritization/

In [16]:
# ----------------------- MASTER prioritizatoin tool excel --------------
updated_spreadsheet = 'Y:/UCRTT/Prioritization/Step 2/Habitat Evaluation/MASTER_Step2_HabitatAnalysis_12102020.xlsx'

In [17]:
# ------------------- Output location for scripts --------------------
output_location = 'C:/Users/Ryan/Documents/GitHub/Prioritization_Step2_Data_Tool/Protection/'
# output_location = 'C:/Users/Ryan/Documents/2_Habitat_Prioritzation/Prioritization/Python_Notebooks/UCSRB_Prioritization_Python_Scripts/'

# -------------------------------------------------------------------------------------- 
# NOTE - will need to go the following directory and do the "git push" to push updates to GitHub (so that the data on GitHub are up to date) Y:\Ryan\2_Habitat_Prioritization\Step2\Python_Data_Tool  
# --------------------------------------------------------------------------------------

## ------------------------------------ Upload Python Libraries -----------------------------------

In [7]:
import pandas as pd
import numpy as np

## =======================================================================
#             Read in Excel
## =======================================================================

In [20]:
# ------------------------------------- Habitat Quality Scores -----------------------
habitat_quality_scores = pd.read_excel(updated_spreadsheet, 
                   'HabitatQuality_Scores', skiprows=[0] )

In [45]:
# ------------------------- Reach-level Life Stages Priority ------------------------------------
life_stages_protection = pd.read_excel(updated_spreadsheet, 
                   'Life Stage_Scores')

In [11]:
# ------------------------- Reach-level Life Stages Priority ------------------------------------
reach_life_stages_Spring_Chinook = pd.read_excel(updated_spreadsheet, 
                   'Reaches Life Stage Spring Chino')
reach_life_stages_Steelhead = pd.read_excel(updated_spreadsheet, 
                   'Reaches Life Stage Steelhead')

In [12]:
reach_life_stages_Bull_Trout = pd.read_excel(updated_spreadsheet, 
                   'Reaches Life Stage Bull Trout')

## =======================================================================
#            Export Excels
## =======================================================================

In [26]:
output_location_x = output_location + 'habitat_quality_scores.xlsx'
habitat_quality_scores.to_excel(output_location_x)

In [46]:
output_location_x = output_location + 'life_stages_protection.xlsx'
life_stages_protection.to_excel(output_location_x)

In [15]:
output_location_x = output_location + 'reach_life_stages_Spring_Chinook.xlsx'
reach_life_stages_Spring_Chinook.to_excel(output_location_x)

output_location_x = output_location + 'reach_life_stages_Steelhead.xlsx'
reach_life_stages_Steelhead.to_excel(output_location_x)

output_location_x = output_location + 'reach_life_stages_Bull_Trout.xlsx'
reach_life_stages_Bull_Trout.to_excel(output_location_x)

In [47]:
life_stages_protection.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,"Filter ""yes""","Filter ""yes""","Filter ""yes""",Filter >3,Filter >3,Filter >3,Filter 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ReachName,Assessment Unit,Subbasin,Spring.Chinook.Reach,Steelhead.Reach,BullTrout.Reach,Number of Life Stages- SPCHN,Number of Life Stages- STL,Number of Life Stages- BT,AU Rank Sp CHN_Restoration,...,Pool Quantity & Quality,Cover- Boulders,Flow- Summer Base Flow,Temperature- Adult Holding,Food- Food Web Resources,Contaminants,Harassment,HQ Pct,HQ Pct_CoreMetrics,HQ Score-ProtectionHolding_BT
3,Aeneas Creek 01,Aeneas Creek Okanogan,Okanogan,no,yes,no,0,6,NaN,NaN,...,NaN,NaN,1,1,5,5,5,NaN,NaN,NaN
4,Aeneas Creek 02,Aeneas Creek Okanogan,Okanogan,no,yes,no,0,6,NaN,NaN,...,NaN,NaN,1,1,5,5,5,NaN,NaN,NaN